.nav {
  background-color: #FB5F03;
  height: 40px;
  opacity: 1.0;
  z-index: 100;
}
.nav a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav ul {
  padding-top:10px;
}

.nav li {
  display: inline;
}

.expandable{
  display: none;
}
