<div class="row">
    <div class="col-md-12 section-heading">
        <h3 class="text-center">Personal</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class='lead'>I absolutely love food, both preparing and eating it. If I didn't get in to CMU I would probably have went to cullinary school. Apart from cooking, my hobbies are reading, traveling and photography. My favorite books include, Malcom X's Autobiography, Hitchhiker's Guide to the Galaxy, A Song of Ice and Fire, and 1984. I occasionally dabble with playing rock or metal on my beat-up $50 guitar.</p>
    </div>
</div>
