.intro{
    height: 100%;
    display: flex;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
}
.intro span{
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 100%;
    max-width: 100%;
}
.photo-div{
    margin-top: auto;
    margin-bottom: auto;
}
.photo-div img{
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 100%;
    max-width: 100%;
}
.summary{
    background: rgb(245,245,245);
}
.contact a{
    color: black;
}
.summary-items h5{
    margin-bottom: 0px;
}